<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Hi, I'm Ronak</h2>
	<div class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
		<p> I am a software engineer working in the big &#127822; at FactSet Research Systems. I <a href="https://f45training.com/" {% if site.style == 'dark' %}class="text-gray-light"{% else %}class="text-gray"{% endif %}>train</a>, collect <a href="https://www.lego.com/en-us/product/lego-nasa-apollo-saturn-v-21309" {% if site.style == 'dark' %}class="text-gray-light"{% else %}class="text-gray"{% endif %}>LEGO</a>, and like to leave encouraging <a href="https://ronakshah94.yelp.com" {% if site.style == 'dark' %}class="text-gray-light"{% else %}class="text-gray"{% endif %}>Yelp</a> reviews. 
	</div>

